body{
	margin: 0;
	font-family: 'Roboto',sans-serif;
	background-color: #FFFFFF;
	font-size: 14px;
	}
	body a{
		transition: 0.5s all ease;
		-webkit-transition: 0.5s all ease;
	    -moz-transition: 0.5s all ease;
	    -ms-transition: 0.5s all ease;
		text-decoration: none;
	}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
	
}
p{
	margin: 0;
	
}
ul label{
	margin: 0;
	padding: 0;
}
body a:hover{
	text-decoration: none;
}
.top-nav{
	padding-top: 3em;
	background-color: #79A7B5;
	position:relative;
}
.logo h1{
	font-size: 3.5em;
	display: inline-block;
	line-height: 1em;
}
.logo h1 a{
	  color:#FFF;
	  font-family:' Source Sans Pro',sans-serif;
	  text-decoration:none;
	  font-weight: 600;
}
.top-nav ul li{
	margin-left: 2em;
	display: inline-block;
}
.top-nav ul li a{
	font-size: 1.3em;
	color:#FFF;
	font-family: 'Source Sans Pro',sans-serif;
	line-height: 35px;
	font-weight: 400;
	z-index: 999;	
}
.top-nav ul li a:hover,
.top-nav ul li.active a{
	color: #D63D2E;
	background: none;
}
.top-nav ul li h4 {
	font-size: 1.2em;
	color:#FFF;
	line-height: 1.6em;
	font-weight: 400;
	padding-top: 0.4em;
}
.top-nav ul li.phn-no{
	position: absolute;
	right: 6%;
	z-index: 99999;	
}
.cl-effect-5 li  a{
	overflow: hidden;
	padding: 0;
}
.cl-effect-5 li  a span{
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	-o-transition: -o-transform 0.3s;
	-ms-transition: -ms-transform 0.3s;
	transition: transform 0.3s;
}
.cl-effect-5 li a span::before{
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform:  translate3d(0,0,0);
	-o-transform:  translate3d(0,0,0);
	transform:  translate3d(0,0,0);
}
.cl-effect-5 li a:hover  span,
.cl-effect-5 li a:focus  span,
.cl-effect-5 li a:active span{
	-webkit-transform: translateY(-100%);
	-moz-transform:  translateY(-100%);
	-o-transform:  translateY(-100%);
	transform:  translateY(-100%);
	color: #D63D2E;
}
.banner{
	background: #79A7B5;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	min-height: 630px;
	position: relative;
}
.banner:after{
	content:'';
	background: url(../images/1.jpg)no-repeat 0px 0px;
	position: absolute;
	right: 22%;
	top:14%;
	background-size:100%;
	min-height: 719px;
	width: 24%;
}
#slider14
#slider3{
	box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;	
}
.callbacks_container{
	width: 100%;
}
.callbacks{
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;	
}
.callbacks li{
	position: absolute;
	width: 100px;
	left: 0;
	top: 0;
}
.banner-text-info{
	margin: 4em 0 4em 18em;
	width: 28%;
}
.banner{
	min-height: 505px;
	
}
.banner:after{
	right: 15%;
}
h3.bnr-text{
	font-size: 2em;
	color: #FFF;
	line-height: 1.4em;
	font-family: 'Source Sans Pro',san-serif;
	font-weight: 600;
}
.bnr-text span{
	color: #D63D2E;
}
.banner h2{
	font-size:5.2em ;
	color: #456A8E;
	font-weight: 900;
}

.bnr-right{
	transform: rotate(90deg);
	position: absolute;
	right: 0;
	width: 17%;
	top:52%;
	
}
.bnr-right h4{
	line-height:1.6em ;
	font-size: 1.5em;
	color: #000;
	font-weight: 400;
}
.bnr-right p{
	font-size: 1.2em;
	color:#FFF ;
	font-weight: 600;
	margin-top: 0.8em;
	
}
.welcome{
	padding: 7em 0;
}
h3.title{
	font-size: 4em;
	text-align: center;
	color: #E74C3C;
}
.welcome h4 {
	font-size: 1.8em;
	text-align: center;
	line-height: 1.6em;
	color: #404040;
	font-weight: 300;
	width: 75%;
	margin:1em auto;
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 1em;
}
 p{
	font-size:1em;
	color: #999;
	line-height: 1.8em;
	
}
 p.w-text{
	 width: 75%;
	 margin: 0 auto;
	 text-align: center;
	 letter-spacing: 1px;
}
.welcome-row{
	margin-top:3em ;
}
.welcome-row img{
	width: 100%;
}
.grid {
	text-align: center;
}
.grid figure {
	position:relative ;
}
.grid figure img{
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
	width: 100%;
}
.grid figure figcaption{
	padding: 2em;
	color:#FFF ;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after{
	pointer-events: none;
}
.grid figure h5{
	word-spacing: -0.15em;
	font-weight: 300;
	font-size: 2.3em;
}
.grid figure h5 span{
	font-weight: 800;
}
.grid figure p{
	font-size: 1.1em;
	color: #EAEAEA;
}
figure.effect-ming{
	background: #030C17;
	color: #EAEAEA;
}
figure.effect-ming img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s; 
	-moz-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.effect-ming figcaption::before{
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #FFF;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.4);
	content: "";
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition: opacity 0.35s,-moz-transform 0.35s;
	-o-transition: opacity 0.35s,-o-transform 0.35s;
	transition: opacity 0.35s,transform 0.35s;
	
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-o-transform: scale(1.4);
	transform: scale(1.4);
}
figure.effect-ming h5{
	margin: 13% 0 10px 0;
	-webkit-transition:-webkit-transform 0.35s;
	-moz-transition:-moz-transform 0.35s;
	-o-transition:-o-transform 0.35s;
	transition:transform 0.35s;
}
figure.effect-ming p{
	padding: 0.5em 1em;
	opacity: 0;
	-webkit-transition:opacity 0.35s,-webkit-transform 0.35s;
	-moz-transition:opacity 0.35s,-moz-transform 0.35s;
	-o-transition:opacity 0.35s,-o-transform 0.35s;
	transition:opacity 0.35s,transform 0.35s;
	
	-webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
	-o-transform:scale(1.5);
	 transform:scale(1.5);
}
figure.effect-ming:hover h5{
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}
figure.effect-ming:hover figcaption::before,
figure.effect-ming:hover p{
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
figure.effect-ming:hover figcaption{
	background-color: rgba(58,52,42,0);
}
figure.effect-ming:hover img{
	opacity: 0.4;
}
.services-grids{
	padding: 0;
	background: #E5F7FB;
	text-align: center;
	margin: 6px;
	width: 31.8%;
}
.services-grids span.glyphicon{
	font-size: 2em;
	color: #8E8E8E;
	border: 3px double #B5B5B5;
	border-radius: 100%;
	padding: 0.5em;
}
.services-grids h5{
	font-size: 1.5em;
	color: #E7aC3C;
	margin: 0.8em 0 0.3em;
	
}
.text-box ,.info-box{
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: scale(1,1) ;
	-moz-transform: scale(1,1) ;
	-ms-transform: scale(1,1) ;
	transform: scale(1,1) ;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;	
	transition: all 0.4s ease-in-out;
	
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	backface-visibility:hidden;
}
.text-box{
	position: relative;
}
.info-box{
	top:0;
	left:0;
	position: absolute;
}
.info-box .info-content{
	display: block;
	position: relative;
	padding: 2%;
	float:left;
	left: 50%;
	top:50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

}
.flip-effect{
	display: block;
	position: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	padding: 4em 3em;
}
.flip-effect,text-box,.flip-effect .info-box{
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.flip-effect .text-box{
	z-index:0;
}
.flip-effect.right .info-box {
	z-index: 1;
	background: #404040;
	-webkit-transform: translateZ(0) rotateY(-180deg);
	-moz-transform: translateZ(0) rotateY(-180deg);
	-o-transform: translateZ(0) rotateY(-180deg);
	-ms-transform: translateZ(0) rotateY(-180deg);
	transform: translateZ(0) rotateY(-180deg);
	padding: 0 5em;
}
.flip-effect.right:hover .text-box{
	-webkit-transform: translateZ(0) rotateY(180deg);
	-moz-transform: translateZ(0) rotateY(180deg);
	-o-transform: translateZ(0) rotateY(180deg);
	-ms-transform: translateZ(0) rotateY(180deg);
	transform: translateZ(0) rotateY(180deg); 
}
.flip-effect.right:hover .info-box{
	-webkit-transform: translateZ(0) rotateY(0deg);
	-moz-transform: translateZ(0) rotateY(0deg);
	-o-transform: translateZ(0) rotateY(0deg);
	-ms-transform: translateZ(0) rotateY(0deg);
	transform: translateZ(0) rotateY(0deg); 
}
.info-box h3{
	font-size: 3em;
	color: #FFF;
	font-weight: 200;
}
.info-box p{
	color: #EFEFEF;
	margin-top: 1em;
}
@media(max-width:767px) {
	.top-nav{
		padding: 1.5em 1.5em 0;
	}
	button.navbar-toggle{
		background: #E74C3C;
		border-color: #FFF;
		margin: 0;	
    }

   .navbar-toggle .icon-bar{
	    background: #FFF;
	
    }
     .top-nav ul li{
		 display: block;
		 margin: 0.5em 0;
		 text-align: center;
	 }
	 .top-nav ul li a{
		 z-index: 0;
	 }
	 div#bs-example-navbar-collapase-1{
		 margin: 0;
		 padding: 0;
		 overflow: inherit;
		 box-shadow: none;		 
	 }
	 ul.nav.navbar-right{
		 text-align: center;
	 }
    ul.nav.navbar-nav.navbar-left.cl-effect-5{
		margin: 0.5em 0;
		padding: 0 0 0.5em 0;
		border:1px solid #FFF;
	}
	.top-nav ul li phn-no {
		position: inherit;
	}
	.top-nav ul li h4{
		padding-top: 0;
	}
	.banner{
		min-height: 338px;
	}
	.banner:after{
		right: 17%;
		width: 28%;
		top: 34%;
	}
	h3.bnr-text{
		font-size: 1.3em;
	}
	.banner-text-info{
		margin: 3em 0 3em 8em;
		width: 34%;
	}
	.banner h2{
		font-size: 3.2em;
	}
	.bnr-right{
		right: -5%;
		width: 29%;
		top: 45%;
	}
	.bnr-right p{
		font-size: 1em;
		margin-top: 0;
	}
 }